
body {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    overflow-x: hidden;
}

img {
    cursor: pointer;
    width: 400px;
    margin-top: 20px;
    transition: transform 0.2s ease;
}

img:active {
    transform: scale(1.2); 
}

.points {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 254, 254);
    font-family: 'Rubik Pixels', sans-serif;
}

h1 {
    font-family: 'Tiny5', sans-serif; 
    font-size: 12ch;
}

.particle {
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    animation: fadeAndMove 3s ease-out forwards;
    pointer-events: none;
}

.goal {
    position: absolute;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    animation: fadeAndMove 3s ease-out forwards;
    pointer-events: none;
}

.goal1 {
    position: absolute;
    font-size: 12ch;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff4747;
    animation: fadeAndMove 6s ease-out forwards;
    pointer-events: none;
}

@keyframes fadeAndMove {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}